name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  

jobs:
  build-test:
    runs-on: ubuntu-latest
    env:
      DAGSHUB_PAT: ${{ secrets.DAGSHUB_PAT }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Cache pip dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: install requirements.txt
        run: |
          pip install -r requirements.txt
      - name: Setup DVC remote auth
        run: |
          dvc remote modify origin auth basic
          dvc remote modify origin user ${{ secrets.MohdMuzaffar307 }}
          dvc remote modify origin password ${{ secrets.c19a2ed45447bf03f14223ed7c5bb590e70eaf4c }}
      - name: Pull DVC data
        run: |
          dvc pull
      - name: run dvc repro
        run: |
          dvc repro
          
          
